{% extends 'search/base.html' %}

{% block html-title %}Variant Search{% endblock%}
{% load static %}

{% block head %}
	<script>
		var api_url = '{{ api_url }}';
		var gene_choices = {{ gene_choices|safe }}
	</script>
	<script src = "{% static 'search/js/index.js' %}"></script>
{% endblock %}

{% block body %}
	<h1>Invitae Variant Search</h1>
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="input-group">
				<input type="text" id="searchbox" class="form-control" placeholder="Search for...">
				<span class="input-group-btn">
					<button id="btnSubmit" class="btn btn-default" type="button">Search</button>
				</span>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			{% include 'search/table.html' %}
		</div>
	</div>
{% endblock %}
